body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Montserrat';
}

section {
  padding: 6rem 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

#mainNav {
  font-weight: bold;
  font-family: 'Montserrat';
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #00b5ff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #00b5ff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #00b5ff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #00b5ff;
  }
}

nav.bg-i {
  background-image:url('top.png');
  background-repeat:no-repeat;
  background-position: center top;
}
header.bg-i {
  background-image:url('top.png');
  background-repeat:no-repeat;
  background-position: center -68px;
}
header.masthead {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
header.masthead h1 {
  font-size: 4rem;
  line-height: 3rem;
  font-weight: 100;
  font-family: 'Monoton', cursive;
}
header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Lato';
}
.shadow {
  -webkit-filter: drop-shadow( 2px 3px 1.5px #000 );
          filter: drop-shadow( 2px 3px 1.5px #000 );
}

@media (min-width: 992px) {
  nav.bg-i {
    background-image:url('top.png');
    background-repeat:no-repeat;
    background-position: center top;
  }
  header.bg-i {
    background-image:url('top.png');
    background-repeat:no-repeat;
    background-position: center -74px;
  }
  header.masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 5em;
    line-height: 3rem;
    font-weight: 100;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
  .shadow {
    -webkit-filter: drop-shadow( 3px 4px 1.5px #000 );
            filter: drop-shadow( 3px 4px 1.5px #000 );
  }
}

footer {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background: #000000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1024;
}

.bg-primary {
  background-color: #18BC9C !important;
}

.bg-secondary {
  background-color: #2C3E50 !important;
}

.text-primary {
  color: #18BC9C !important;
}

.text-secondary {
  color: #2C3E50 !important;
}

.numberCircle1 {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
}

.numberCircle2 {
  background: #FF5722;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
}

.ethereumbg {
  background:url(ethereum_icon.svg) no-repeat;
  background-size:15em 15em;
  background-position:50% 50%;
}

.ethereum {
  background: url(ethereum-icon.svg) no-repeat;
  display: inline-flex;
  height:1.5em;
  width:1.5em;
}

.infinity {
  -webkit-mask: url(infinity.svg) no-repeat;
  mask: url(infinity.svg) no-repeat;
  transition: background-color .2s;
  background-color: white;
  display: inline-flex;
  width:1.38em;
  height:0.85em;
}
.infinity:hover {
  background-color: red;
}

.withIcon {
  vertical-align: 0.3em;
}


.zoomFrame {
  overflow: hidden;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.avoid-clicks {
  pointer-events: none;
}
